<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html;charset=utf-8;'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock %}
    {% include "partial_css.html" %}
</head>

<body>
    {% include "partial_navbar.html" %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    {% include "partial_footer.html" %}

    {% include "partial_js.html" %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function(){
                $("#email").focus();
                $("#sign-form").validate(
                    { rules:{
                        email:{required:true,email:true},
                        username:{required:true,namecheck:true},
                        userpw:{required:true,rangelength:[5,16]},
                        reuserpw: {required:true,equalTo:"#userpw"}
                        },errorPlacement:function(error,element){
                        element.next().html(error).css("display","block");
                        }
                    }
                );
        }) ;
    </script>
</body>
</html>
