<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/static/js/vendor/bootstrap-transition.js"></script>
<script src="/static/js/vendor/bootstrap-alert.js"></script>
<script src="/static/js/vendor/bootstrap-modal.js"></script>
<script src="/static/js/vendor/bootstrap-dropdown.js"></script>
<script src="/static/js/vendor/bootstrap-scrollspy.js"></script>
<script src="/static/js/vendor/bootstrap-tab.js"></script>
<script src="/static/js/vendor/bootstrap-tooltip.js"></script>
<script src="/static/js/vendor/bootstrap-popover.js"></script>
<script src="/static/js/vendor/bootstrap-button.js"></script>
<script src="/static/js/vendor/bootstrap-collapse.js"></script>
<script src="/static/js/vendor/bootstrap-carousel.js"></script>
<script src="/static/js/vendor/bootstrap-typeahead.js"></script>