<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html;charset=utf-8;'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>脱兔旅行</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

    <header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/"> 脱兔旅行</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="signin pull-right">
                    <ul class="nav">
                        {% if user.is_authenticated %}
                        <li><a class="btn btn-link" href="#">{{ user.username }}</a></li>
                        <li><a class="btn btn-link" href="/accounts/logout">退出</a></li>
                        {% else %}
                        <li><a class="btn btn-link" href="/accounts/login">登录</a></li>
                        <li><a class="btn btn-link" href="/accounts/register">注册</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header>

    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <footer>
    <div class="container">
        <p class="pull-right">陕ICP备13010124号</p>
    </div>
    </footer>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function(){
                $("#email").focus();
                $("#sign-form").validate(
                    { rules:{
                        email:{required:true,email:true},
                        username:{required:true,namecheck:true},
                        userpw:{required:true,rangelength:[5,16]},
                        reuserpw: {required:true,equalTo:"#userpw"}
                        },errorPlacement:function(error,element){
                        element.next().html(error).css("display","block");
                        }
                    }
                );
        }) ;
    </script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

</body>
</html>
