{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
<title>脱兔旅行-登录</title>
{% endblock %}
{% block content %}
	<div class="center_content">
		<h2>登录</h2>
		<div id="main_content">
			<div id="sign-form-place">
				<div class="form-title">
					<h3>登录</h3>
					<span>
						或者
						<a href="#">注册</a>
					</span>
				</div>
				<form action="/accounts/login/" method="post" class="log-sig-form" id="log-form">
					{% csrf_token %}
					{% if form.errors %}
					<span class="help-block " style="display: block;">
						<label class="error">用户名/Email或密码错误，请重新输入！</label>
					</span>
					{% endif %}
					<div>
						<label>用户名/Email：</label>
						{% render_field form.username class+="input-xlarge" %}
						<!-- <input type="text" class="input-xlarge " name="emailorname" id="emailorname">	
						-->
						<span class="help-block ">Example block-level help text here.</span>
					</div>

					<div>
						<label>密码：</label>
						{% render_field form.password class+="input-xlarge" %}
						<!-- <input type="text" class="input-xlarge " name="userpw" id="userpw">	
						-->
						<span class=" help-block">Example block-level help text here.</span>
					</div>
					<div>
						<label class="checkbox" id="remmebox">
							<input type="checkbox" name="remme" >记住我</label>
					</div>
					<input type="hidden" name="next" value="/" />
					<button type="submit" class="btn btn-large btn-danger">登录</button>
					<a href="#" class="text-error offset1" >忘记密码 ？</a>
				</form>
			</div>
			{% include "partial_welside.html" %}
		</div>
	</div>
{% endblock %}

{% block js %}
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
<script type="text/javascript">
    $(function(){
		$("#id_username").focus();
        $("#log-form").validate(
                {
                    rules:{
                        username:{required:true},

                        password:{required:true,rangelength:[5,16]}

                    },errorPlacement:function(error,element){
                    element.next().html(error).css("display","block");
                }
                }
        );


    }) ;
</script>
{% endblock %}
