{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
<title>脱兔旅行-注册</title>
{% endblock %}
{% block content %}
<div class="center_content">
  <h2>创建您的新账户</h2>
  <div id="main_content">
    <div id="sign-form-place">
      <div class="form-title">
        <h3>创建账户</h3>
        <span>
          或者使用社交账号
          <a href="/accounts/login/">登录</a>
        </span>
      </div>
      <form action="." method="post" class="log-sig-form" id="sign-form" novalidate="novalidate">
        {% csrf_token %}
        <div>
          <label>电子邮件：</label>
          {% render_field form.email class+="input-xlarge" %}
          <span class="help-block ">Example block-level help text here.</span>
        </div>
        <div>
          <label>用户名：</label>
          {% render_field form.username class+="input-xlarge" %}
          <span class="help-block ">Example block-level help text here.</span>
        </div>
        <div>
          <label>密码：</label>
          {% render_field form.password1 class+="input-xlarge" %}
          <span class=" help-block">Example block-level help text here.</span>
        </div>
        <div>
          <label>重复密码：</label>
          {% render_field form.password2 class+="input-xlarge" %}
          <span class="help-block text-error" >Example block-level help text here.</span>
        </div>

        <p>单击注册表示您同意我们的<a href="#" class="text-warning">服务条款</a></p>
        <button type="submit" class="btn btn-large btn-danger">注册</button>
      </form>
    </div>

    {% include "partial_welside.html" %}
  </div>
</div>
{% endblock %}
{% block js %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function(){
                $("#email").focus();
                $("#sign-form").validate(
                    { rules:{
                        email:{required:true,email:true},
                        username:{required:true,namecheck:true},
                        password1:{required:true,rangelength:[5,16]},
                        password2: {required:true,equalTo:"#id_password1"}
                        },errorPlacement:function(error,element){
                        element.next().html(error).css("display","block");
                        }
                    }
                );
        }) ;
    </script>
{% endblock %}